body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    background-color: #141414;
    padding: 0px;
}
.jumbotron{
    border-radius: 0px;
    margin: 0px;
}
.test{
    background-color: red;
}
.thick{
    font-family: 'Coda Caption', sans-serif;
}
.anton{
    font-family: 'Anton', sans-serif;
}
.noto{
    font-family: 'Noto Sans TC', sans-serif;
}
.color1{
    background : #191919;
}
.color2{
    background : #171717;
}
.color3{
    background : #151515;
}
.color4{
    background : #141414;
}
.Tdark{
    color: #171717;
}
.Tdark:hover{
    color: #171717;
}
.Twhite{
    color: #777;
}
.white{
    background-color: #fff;
}
.grayText{
    color: #F8FAFC;
}
.mgt{
    margin-top: 75px;
}
.mpt{
    padding-top: 75px;
}
.small{
    font-size: 15px;
}
.medium{
    font-size: 20px;
}
.large{
    font-size: 30px;
}
.absolute{
    position: absolute;
}
footer{
    margin: 0px;
}
.topCard{
    height: 200px;
    background-color: #171717;
}
.topCard2{
    height: 400px;
    background-color: #171717;
}
.card{
    border: none;
}
.background{
    position: absolute;
    width: 100%;
    height: 600px;
}
.Cimage{
    position: relative;
    height: 875px;
    width: 100%;
    /* left: 10%; */
}
.fullImage{
    width: 100%;
    height: 100%;
}
.Main{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 10px;
}
.spacer{
    width: 100%;
    height: 100px;
}

.MoreButton{
    transition: 0.3s;
    color: #191919;
    display: inline-block;
    cursor: pointer;
}
.MoreButton:hover{
    transform: scale(1.05,1.05);
    color: #191919;
    border-bottom: #191919 2px;
}
.headerButton{
    position: relative;
    margin: 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    color: #191919;
    text-decoration: none;
}
.underline{
    /* display: none; */
    position: absolute;
    left: -10%;
    width: 130%;
    height: 0px;
    transition: 0.2s;
    background-color: #171717;
}
.headerButton:hover .underline{
    /* display:block; */
    height: 12px;
}
.headerButton:hover{
    color: #191919;
    text-decoration: none;
}
.with{
    width: 175px;
}
.triangle-left {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -15vh;
    left: 0;
    border-top: 12vh solid transparent;
    border-left: 60vw solid #191919;
    border-bottom: 12vh solid transparent;
}
.triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -15vh;
    right: 0;
    border-top: 12vh solid transparent;
    border-right: 60vw solid #191919;
    border-bottom: 12vh solid transparent;
}
main{
    padding: 0px;
    margin: 0px;
    height: 0px;
}
.cOverlay{
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 100;
    font-size: 150px;
    color: white;
}
.cardHover{
    transition: 0.3s;
    text-decoration: none;
}
.cardHover:hover{
    transform: scale(1.05,1.05);
    text-decoration: none;
}
.sideImage{
    position: relative;
    height: 70vh;
}
.textheight{
    height: 400px;
}
.huur{
    position: absolute;
    bottom: 1%;
    right: 1%;
    border: none;
    padding: 1%;
    font-size: 25px;
    background-color: #111111;
    color: white;
    box-shadow: 5px 1000px 5px #111111 inset;
    transition: 0.3s;
}
.huur:hover{
    transform: scale(1.05,1.05);
    box-shadow: none;
}
.textHeight{
    height: 125px;
}
.inset{
    box-shadow: 0 0 10px #000000;
}